.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search.active {
  background-color: lightblue;
}

.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
}

.btn {
  padding: 8px 16px;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
